.masthead {
  margin: 32px 0;
}

button:hover,
button:focus,
a:hover,
a:focus {
  outline: none;
  color: inherit;
}

.nav > li > a {
  padding: 0 16px;
  margin: 0 8px;
}

.jumbotron .mdl-button {
  background-color: #008b00;
  color: #FFFFFF;
}

.jumbotron .mdl-button {
  background-color: #008b00;
  color: #ffffff;
  padding: 0.25em 0.5em;
  border-radius: 100px;
}

.jumbotron .mdl-button:hover,
.jumbotron .mdl-button:focus {
  background-color: #008b00;
  text-decoration: none;
  box-shadow: 0 0 20px rgb(115, 115, 232);
  color: #FFFFFF;
}

